@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 68.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  font-family: "Raleway";
  text-align: center;
  font-weight: 800;
  display: inline-block;
  line-height: 0.8333333333;
  padding: 0.75rem 1.8125rem 1rem 1.9375rem;
  background-color: #4285F4;
  color: #FCFDFE;
  border-radius: 0.3125rem;
  letter-spacing: 0.14em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgba(66, 134, 244, 0.7490196078);
}

.button_red {
  padding: 0.875rem 1.8125rem;
  background-color: #EC5863;
  max-width: 9.75rem;
}

.button_red:hover {
  background-color: #e67d84;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title_s1 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 126%;
  color: #000000;
}

.title_s1 span {
  color: #4285F4;
}

.title_s2 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 126%;
  color: #000000;
}

.title_s2 span {
  color: #EC5863;
}

.text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #612a2e;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.75rem 1fr 12.5rem;
  grid-template-columns: 18.75rem 1fr 12.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  position: relative;
  z-index: 5;
}

.header__actions img {
  max-width: 100%;
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.menu__item {
  font-family: "Raleway";
  font-size: 0.625rem;
  font-weight: 700;
  color: #000000;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.healthcare__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.healthcare__cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 2.1875rem;
}

.content-healtcare__title {
  text-align: center;
}

.content-healtcare__text {
  text-align: center;
  letter-spacing: 0.08em;
  max-width: 37.5rem;
}

.card__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28%;
          flex: 1 1 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 0.5rem;
  padding: 2.1875rem 1.5625rem;
  gap: 3.625rem;
}

.block-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.block-item__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
}

.block-item__text {
  text-align: center;
  letter-spacing: 0.08em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links__img_one {
  padding-top: 0.3125rem;
}

.icon-healthcare {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.icon-healthcare__one {
  position: absolute;
  z-index: -1;
  top: 69%;
  right: 91.3%;
}

.icon-healthcare__two {
  position: absolute;
  z-index: -1;
  top: 58%;
  right: 28.844037%;
}

.icon-healthcare__three {
  position: absolute;
  z-index: -1;
  top: 24%;
  right: 2.844037%;
}

.icon-healthcare__four {
  position: absolute;
  z-index: -1;
  top: 37%;
  right: 64.844037%;
}

.health {
  position: relative;
  background: #FAFBFD;
}

.health::after {
  content: "";
  position: absolute;
  z-index: 1;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
  top: 0;
  left: 66.6666666667%;
  width: 55.694444%;
  height: 100%;
}

.health__container {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.health__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-left: 0.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 31.0625rem;
}

.content__items:not(:last-child) {
  gap: 0.75rem;
}

.content__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

@-webkit-keyframes health-items {
  0% {
    /* css свойства */
    -webkit-transform: translate(-200%, 0%);
            transform: translate(-200%, 0%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes health-items {
  0% {
    /* css свойства */
    -webkit-transform: translate(-200%, 0%);
            transform: translate(-200%, 0%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes health-img {
  0% {
    /* css свойства */
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes health-img {
  0% {
    /* css свойства */
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.item__title {
  -webkit-animation-name: health-items;
          animation-name: health-items;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item__text {
  -webkit-animation-name: health-items;
          animation-name: health-items;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  max-width: 23.4375rem;
}

.item__text:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item__button {
  -webkit-animation-name: health-items;
          animation-name: health-items;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.body__title {
  font-family: "Rubik";
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.body__link {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.heath__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-right: 0.6875rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.heath__image img {
  max-width: 100%;
}

.corona__container {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  position: relative;
}

.image__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.image__item img {
  max-width: 100%;
  -webkit-filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
  border-radius: 1rem;
}

.image__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 1.6875rem;
  top: 90.5714285714%;
  left: 32.2048611111%;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 1rem;
}

.thing__one {
  position: absolute;
  z-index: -1;
  left: 7.8125%;
  right: 74.9131944444%;
  top: -7.5714285714%;
  background: #EC5863;
  border-radius: 20%;
}

.thing__two {
  position: absolute;
  z-index: -1;
  left: 80.5121527778%;
  top: 62.4285714286%;
  background: #EC5863;
  border-radius: 30%;
}

.thing__three {
  position: absolute;
  z-index: -2;
  left: 19.4444444444%;
  top: 83.4285714286%;
  right: 78.125%;
  background: #EC5863;
  border-radius: 30%;
}

.content {
  max-width: 23.6875rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.375rem;
}

.item__title {
  -webkit-animation-name: corona-item;
          animation-name: corona-item;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item__text {
  -webkit-animation-name: corona-item;
          animation-name: corona-item;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  max-width: 22.6875rem;
}

.item__button {
  -webkit-animation-name: corona-item;
          animation-name: corona-item;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes corona-item {
  0% {
    /* css свойства */
    -webkit-transform: translate(-200%, 0%);
            transform: translate(-200%, 0%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes corona-item {
  0% {
    /* css свойства */
    -webkit-transform: translate(-200%, 0%);
            transform: translate(-200%, 0%);
  }

  100% {
    /* css свойства */
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.experts__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews {
  position: relative;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 1rem;
  padding: 1.75rem 5rem;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.reviews__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 0.8372093023;
  text-align: center;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.reviews__text {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 0.8461538462;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.experts {
  position: relative;
  z-index: -2;
  padding-top: 5.625rem;
  background: #FAFBFD;
}

.experts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.experts__content__content-experts__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-top: 2.5rem;
}

.item__button {
  cursor: pointer;
}

.no-webp .image-experts{
  background-image: url(../img/experts/image.jpg); }

.image-experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 0.5rem;
  padding: 1.5rem 5.875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image-experts__button {
  cursor: pointer;
  pointer-events: fill;
  background: #587EEC;
  border-radius: 50%;
  display: inline-block;
  padding: 0.90625rem 0.85rem 0.90625rem 1.0625rem;
}

.image-experts__button:hover {
  background: rgba(88, 125, 236, 0.7647058824);
}

.icon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.icon__one {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: -4.3103448276%;
  right: 12.8440366972%;
}

.icon__two {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: -10%;
  right: 52%;
}

.icon__three {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 10%;
  right: 78%;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  -o-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 47.9375em) {
  .heath__image {
    padding-top: 6.25rem;
  }
}

@media (min-width: 61.99875em) {
  .button {
    min-width: 8.875rem;
  }
}

@media (min-width: 68.125em) {
  .header {
    padding-top: 2.5rem;
  }

  .header {
    padding-bottom: 2.5rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .footer {
    padding-top: 7.25rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .footer__container {
    gap: 4.375rem;
  }

  .healthcare__cards {
    gap: 4.5rem;
  }

  .links {
    gap: 3.5rem;
  }

  .health {
    padding-top: 2.8125rem;
  }

  .health {
    padding-bottom: 2.1875rem;
  }

  .health__container {
    gap: 4.6875rem;
  }

  .health__content {
    padding-top: 11.875rem;
  }

  .health__content {
    gap: 9.25rem;
  }

  .item__title {
    min-width: 31.0625rem;
  }

  .corona {
    padding-top: 8.25rem;
  }

  .corona {
    padding-bottom: 5rem;
  }

  .corona__container {
    -webkit-column-gap: 11.875rem;
       -moz-column-gap: 11.875rem;
            column-gap: 11.875rem;
  }

  .image {
    padding-left: 5rem;
  }

  .image__item::after {
    width: 13.25rem;
  }

  .thing__one {
    width: 9.1875rem;
  }

  .thing__one {
    height: 9.1875rem;
  }

  .thing__two {
    width: 4.8125rem;
  }

  .thing__two {
    height: 4.8125rem;
  }

  .thing__three {
    width: 4.8125rem;
  }

  .thing__three {
    height: 4.8125rem;
  }

  .content {
    padding-top: 7.5rem;
  }

  .reviews__block {
    gap: 6.25rem;
  }

  .reviews__block {
    padding-left: 5rem;
  }

  .reviews__block {
    padding-right: 5rem;
  }

  .experts {
    padding-bottom: 7.25rem;
  }

  .experts__content {
    padding-top: 5rem;
  }

  .experts__content {
    padding-right: 2.5rem;
  }

  .experts__content {
    padding-left: 2.5rem;
  }
}

@media (min-width: 48em) {
  .header__logo {
    width: 8.9375rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__container {
    gap: 1.5625rem;
  }

  .healthcare__cards {
    gap: 1.875rem;
  }

  .links {
    gap: 1.25rem;
  }

  .health {
    padding-top: 1.875rem;
  }

  .health {
    padding-bottom: 0.9375rem;
  }

  .health__container {
    gap: 0.9375rem;
  }

  .health__content {
    padding-top: 3.125rem;
  }

  .health__content {
    gap: 4.375rem;
  }

  .item__title {
    min-width: 6.25rem;
  }

  .heath__image {
    padding-top: 1.875rem;
  }

  .corona {
    padding-top: 3.125rem;
  }

  .corona {
    padding-bottom: 3.125rem;
  }

  .corona__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .image {
    padding-left: 0.0000000625rem;
  }

  .image__item::after {
    width: 3.125rem;
  }

  .thing__one {
    width: 7.5rem;
  }

  .thing__one {
    height: 7.5rem;
  }

  .thing__two {
    width: 4.0625rem;
  }

  .thing__two {
    height: 4.0625rem;
  }

  .thing__three {
    width: 3.4375rem;
  }

  .thing__three {
    height: 3.4375rem;
  }

  .content {
    padding-top: 3.125rem;
  }

  .reviews__block {
    gap: 1.25rem;
  }

  .reviews__block {
    padding-left: 1.875rem;
  }

  .reviews__block {
    padding-right: 1.875rem;
  }

  .experts {
    padding-bottom: 1.875rem;
  }

  .experts__content {
    padding-top: 1.875rem;
  }

  .experts__content {
    padding-right: 0.625rem;
  }

  .experts__content {
    padding-left: 0.625rem;
  }
}

@media (max-width: 67.5em) {
  .header__container {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 61.99875em) {
  .button {
    padding: 0.9375rem 1.25rem;
  }

  .button_border {
    padding: 0.875rem 1.25rem;
  }
}

@media (max-width: 49.5em) {
  .card__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #612a2e;
    gap: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: #89a2d3;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 2.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .health__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .health__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item__title {
    min-width: none;
    text-align: center;
  }

  .item__text {
    text-align: center;
  }

  .corona__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.25rem;
  }

  .image__item::after {
    width: 12.5rem;
    left: 25.1736111111%;
  }

  .thing__three {
    left: 10.7638888889%;
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    height: 4.5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 38.125em) {
  .reviews__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .experts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .image-experts {
    padding: 5.625rem 0rem;
  }
}

@media (max-width: 36.5em) {
  .thing__three {
    left: 6.9444444444%;
  }
}

@media (max-width: 0.0625em) {
  .header__logo {
    width: 7.5rem;
  }
}

@media (min-width: 20em) and (max-width: 68.125em) {
@supports (padding-top: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem )) {
    .header {
      padding-top: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6152597403rem  +  1.2987012987vw , 2.5rem )) {
    .header {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7305194805rem  +  2.5974025974vw , 2.5rem )) {
    .header {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 48.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem );
              column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 48.125);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 48.125);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem )) {
    .footer {
      padding-top: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem )) {
    .footer {
      padding-top: calc(1.875rem + 5.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4707792208rem  +  3.8961038961vw , 3.125rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.4707792208rem  +  3.8961038961vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4707792208rem  +  3.8961038961vw , 3.125rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 1.5625rem , 0.3936688312rem  +  5.8441558442vw , 4.375rem )) {
    .footer__container {
      gap: clamp( 1.5625rem , 0.3936688312rem  +  5.8441558442vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.3936688312rem  +  5.8441558442vw , 4.375rem )) {
    .footer__container {
      gap: calc(1.5625rem + 2.8125 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 1.875rem , 0.7840909091rem  +  5.4545454545vw , 4.5rem )) {
    .healthcare__cards {
      gap: clamp( 1.875rem , 0.7840909091rem  +  5.4545454545vw , 4.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.7840909091rem  +  5.4545454545vw , 4.5rem )) {
    .healthcare__cards {
      gap: calc(1.875rem + 2.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .links {
      gap: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.3149350649rem  +  4.6753246753vw , 3.5rem )) {
    .links {
      gap: calc(1.25rem + 2.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.4853896104rem  +  1.9480519481vw , 2.8125rem )) {
    .health {
      padding-top: clamp( 1.875rem , 1.4853896104rem  +  1.9480519481vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4853896104rem  +  1.9480519481vw , 2.8125rem )) {
    .health {
      padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4180194805rem  +  2.5974025974vw , 2.1875rem )) {
    .health {
      padding-bottom: clamp( 0.9375rem , 0.4180194805rem  +  2.5974025974vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4180194805rem  +  2.5974025974vw , 2.1875rem )) {
    .health {
      padding-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 0.9375rem , -0.6209415584rem  +  7.7922077922vw , 4.6875rem )) {
    .health__container {
      gap: clamp( 0.9375rem , -0.6209415584rem  +  7.7922077922vw , 4.6875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.6209415584rem  +  7.7922077922vw , 4.6875rem )) {
    .health__container {
      gap: calc(0.9375rem + 3.75 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 11.875rem )) {
    .health__content {
      padding-top: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 11.875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 11.875rem )) {
    .health__content {
      padding-top: calc(3.125rem + 8.75 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem )) {
    .health__content {
      gap: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem );
    }
}

@supports not (gap: clamp( 4.375rem , 2.349025974rem  +  10.1298701299vw , 9.25rem )) {
    .health__content {
      gap: calc(4.375rem + 4.875 * (100vw - 20rem) / 48.125);
    }
}

@supports (min-width: clamp( 6.25rem , -4.0616883117rem  +  51.5584415584vw , 31.0625rem )) {
    .item__title {
      min-width: clamp( 6.25rem , -4.0616883117rem  +  51.5584415584vw , 31.0625rem );
    }
}

@supports not (min-width: clamp( 6.25rem , -4.0616883117rem  +  51.5584415584vw , 31.0625rem )) {
    .item__title {
      min-width: calc(6.25rem + 24.8125 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9951298701rem  +  10.6493506494vw , 8.25rem )) {
    .corona {
      padding-top: clamp( 3.125rem , 0.9951298701rem  +  10.6493506494vw , 8.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9951298701rem  +  10.6493506494vw , 8.25rem )) {
    .corona {
      padding-top: calc(3.125rem + 5.125 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.3457792208rem  +  3.8961038961vw , 5rem )) {
    .corona {
      padding-bottom: clamp( 3.125rem , 2.3457792208rem  +  3.8961038961vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.3457792208rem  +  3.8961038961vw , 5rem )) {
    .corona {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 48.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem )) or (column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem ))) {
    .corona__container {
      -webkit-column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem );
         -moz-column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem );
              column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem )) or (column-gap: clamp( 1.25rem , -3.1655844156rem  +  22.0779220779vw , 11.875rem ))) {
    .corona__container {
      -webkit-column-gap: calc(1.25rem + 10.625 * (100vw - 20rem) / 48.125);
         -moz-column-gap: calc(1.25rem + 10.625 * (100vw - 20rem) / 48.125);
              column-gap: calc(1.25rem + 10.625 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -2.0779219894rem  +  10.3896102597vw , 5rem )) {
    .image {
      padding-left: clamp( 0.0000000625rem , -2.0779219894rem  +  10.3896102597vw , 5rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -2.0779219894rem  +  10.3896102597vw , 5rem )) {
    .image {
      padding-left: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 48.125);
    }
}

@supports (width: clamp( 3.125rem , -1.0827922078rem  +  21.038961039vw , 13.25rem )) {
    .image__item::after {
      width: clamp( 3.125rem , -1.0827922078rem  +  21.038961039vw , 13.25rem );
    }
}

@supports not (width: clamp( 3.125rem , -1.0827922078rem  +  21.038961039vw , 13.25rem )) {
    .image__item::after {
      width: calc(3.125rem + 10.125 * (100vw - 20rem) / 48.125);
    }
}

@supports (width: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem )) {
    .thing__one {
      width: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem );
    }
}

@supports not (width: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem )) {
    .thing__one {
      width: calc(7.5rem + 1.6875 * (100vw - 20rem) / 48.125);
    }
}

@supports (height: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem )) {
    .thing__one {
      height: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem );
    }
}

@supports not (height: clamp( 7.5rem , 6.7987012987rem  +  3.5064935065vw , 9.1875rem )) {
    .thing__one {
      height: calc(7.5rem + 1.6875 * (100vw - 20rem) / 48.125);
    }
}

@supports (width: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem )) {
    .thing__two {
      width: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem );
    }
}

@supports not (width: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem )) {
    .thing__two {
      width: calc(4.0625rem + 0.75 * (100vw - 20rem) / 48.125);
    }
}

@supports (height: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem )) {
    .thing__two {
      height: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem );
    }
}

@supports not (height: clamp( 4.0625rem , 3.7508116883rem  +  1.5584415584vw , 4.8125rem )) {
    .thing__two {
      height: calc(4.0625rem + 0.75 * (100vw - 20rem) / 48.125);
    }
}

@supports (width: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem )) {
    .thing__three {
      width: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem );
    }
}

@supports not (width: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem )) {
    .thing__three {
      width: calc(3.4375rem + 1.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (height: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem )) {
    .thing__three {
      height: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem );
    }
}

@supports not (height: clamp( 3.4375rem , 2.8660714286rem  +  2.8571428571vw , 4.8125rem )) {
    .thing__three {
      height: calc(3.4375rem + 1.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 7.5rem )) {
    .content {
      padding-top: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.3068181818rem  +  9.0909090909vw , 7.5rem )) {
    .content {
      padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (gap: clamp( 1.25rem , -0.8279220779rem  +  10.3896103896vw , 6.25rem )) {
    .reviews__block {
      gap: clamp( 1.25rem , -0.8279220779rem  +  10.3896103896vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.8279220779rem  +  10.3896103896vw , 6.25rem )) {
    .reviews__block {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .reviews__block {
      padding-left: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .reviews__block {
      padding-left: calc(1.875rem + 3.125 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-right: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .reviews__block {
      padding-right: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .reviews__block {
      padding-right: calc(1.875rem + 3.125 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem )) {
    .experts {
      padding-bottom: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.3587662338rem  +  11.1688311688vw , 7.25rem )) {
    .experts {
      padding-bottom: calc(1.875rem + 5.375 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .experts__content {
      padding-top: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5762987013rem  +  6.4935064935vw , 5rem )) {
    .experts__content {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem )) {
    .experts__content {
      padding-right: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem )) {
    .experts__content {
      padding-right: calc(0.625rem + 1.875 * (100vw - 20rem) / 48.125);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem )) {
    .experts__content {
      padding-left: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.1542207792rem  +  3.8961038961vw , 2.5rem )) {
    .experts__content {
      padding-left: calc(0.625rem + 1.875 * (100vw - 20rem) / 48.125);
    }
}
}

@media (min-width: 0.0625em) and (max-width: 48em) {
@supports (width: clamp( 7.5rem , 7.4981258149rem  +  2.998696219vw , 8.9375rem )) {
    .header__logo {
      width: clamp( 7.5rem , 7.4981258149rem  +  2.998696219vw , 8.9375rem );
    }
}

@supports not (width: clamp( 7.5rem , 7.4981258149rem  +  2.998696219vw , 8.9375rem )) {
    .header__logo {
      width: calc(7.5rem + 1.4375 * (100vw - 0.0625rem) / 47.9375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 20em) {
  .menu__body {
    padding-top: 11.25rem;
  }

  .menu__body::before {
    height: 6.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 20em) {
@supports (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 7.4764150943rem  +  18.8679245283vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 0.125rem) / 19.875);
    }
}

@supports (height: clamp( 4.5rem , 4.4870283019rem  +  10.3773584906vw , 6.5625rem )) {
    .menu__body::before {
      height: clamp( 4.5rem , 4.4870283019rem  +  10.3773584906vw , 6.5625rem );
    }
}

@supports not (height: clamp( 4.5rem , 4.4870283019rem  +  10.3773584906vw , 6.5625rem )) {
    .menu__body::before {
      height: calc(4.5rem + 2.0625 * (100vw - 0.125rem) / 19.875);
    }
}
}

@media (min-width: 20em) and (max-width: 47.9375em) {
@supports (padding-top: clamp( 1.875rem , -1.2569910515rem  +  15.6599552573vw , 6.25rem )) {
    .heath__image {
      padding-top: clamp( 1.875rem , -1.2569910515rem  +  15.6599552573vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.2569910515rem  +  15.6599552573vw , 6.25rem )) {
    .heath__image {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #EC5863;
  }

  .body__link:hover {
    color: #EC5863;
  }
}

.webp .image-experts{ background-image: url(../img/experts/image.webp); }